<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>

<table class="container-fluid">
	<h1>Test Scores</h1>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Subject</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
  	<% @subjects = ["Math","Science","Reading","Spanish"] %>
    <% 10.times do %>
      <tr>
        <td><%= 100000+rand(199999) %></td>
        <td><%= @subjects.sample %></td>
        <td><%= 65+rand(35) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
